* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    height: 600px;
    background-color: #FDDE7E;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bronze_cup, .gold_cup, .silver_cup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 3px;
    box-shadow:  0 2px 4px #EDD076;
    background-color: #FFFFFF;
}

.bronze_cup, .silver_cup {
    height: 440px;
    width: 360px;
    padding: 40px;
}

.gold_cup {
    height: 500px;
    width: 360px;
    margin: 0 30px;
    padding: 58px;
}

.cup_price {
    font-size: 70px;
    font-family: 'MisoBold'; 
    color: #02995B;
}

.cup_name {
    font-size: 56px;
    font-family: 'Miso'; 
}

.cup_description {
    font-size: 20px;
    font-family: 'MisoLight'; 
    text-align: center;
}

@font-face {
    font-family: 'MisoLight';
    font-style: light; 
    src: url(../fonts/miso-light.otf) format('truetype');
}

@font-face {
    font-family: 'MisoBold';
    font-style: bold; 
    src: url(../fonts/miso-bold.otf) format('truetype');
}

@font-face {
    font-family: 'Miso';
    font-style: normal; 
    src: url(../fonts/miso.otf) format('truetype');
}